<template>
  <div>
    Try to insert 1 or 2 or 3 in testfield
    <div v-if="greeting === '1'">
      <p>{{ greeting }} World!</p>
      <input v-model="greeting">
    </div>
    <div v-else >
      <p>{{ greeting }} Auto!</p>
      <input v-model="greeting">
    </div>
    <div v-show="greeting === '2'">
      Mutter {{ greeting2 }}
    </div>
  </div>
</template>

<script>

export default {
  name: "hello",
  props: {
    greeting2: String
  },
  data() {
    return {
      greeting: "HEY",
    }
  }
}

</script>

<style scoped>
</style>