<template>
  <div id="root">
    <h1> Cats </h1>
    <ul>
        <li v-for="cat in cats" v-bind:key="cat">
            {{cat}}
        </li>
    </ul>
    <input v-model="newCat"  v-on:keyup.enter="addCat">
    <button v-on:click="addCat">
        +Add Cat
    </button>
    <br>
    {{newCatName}}
    <br>
    <button @click="sortCat">
        +Sort Cat
    </button>
    <br>
    <br>
    <h1> Dogs </h1>
    <ul>
        <li v-for="dog in dogs" v-bind:key="dog">
            {{dog.name | capa}}
        </li>
    </ul>
    <br>
    <input v-model="newDog" @keyup.enter="addDog">
    <button @click="addDog">
        +Add Dog
    </button>
  </div>
</template>

<script>

export default {
  name: "hello",
  data() {
    return {
      cats: [
          'kitkat',
          'fish',
          'mouse',
      ],
      newCat: '',
      dogs: [
          {name: 'Bulli'},
          {name: 'Doggy'},
          {name: 'Fighter'},
          {name: 'Fatty'},
      ],
      newDog: ''
    }
  },
  methods: {
    addCat(){
        this.cats.push(this.newCat)
        this.newCat=''
    },
    sortCat (){
        this.cats.sort()
    },
    addDog(){
        this.dogs.push({name: this.newDog})
        this.newDog=''
    }
  },
  filters: {
    capa(value){
        if (value.length > 3) {
            return value.toUpperCase()
        } else {
            return value
        }
    }
  },
  computed: {
      newCatName(){
          return this.newCat.toUpperCase()
      }
  }
}

</script>

<style scoped>
.red{
  border: 2px solid red
}
.green{
  border: 2px solid green
}
</style>