<template>
  <div>
    <MyButton />
    <br>
    <br>
    
    <br>
    <Hello :greeting2="greetingXXX"/>

    <br>
    <Hello greeting2="Deine"/>

  </div>
</template>

<script>
import MyButton from './MyButton'
import Hello from './Hello'

export default {
  name: 'App',
  components: {
    MyButton,
    Hello
  },
  data() {
    return {
      greetingXXX: "XXX",
    }
  }
}
</script>