<template>
<div id="root">
  Sign up my mail: {{email}}
  <br>
  <input v-model="email" :class="{red: email.length > 10}">
  <br>
  <button onclick="alert('signed up')" 
    v-bind:disabled="email.length > 10">
    Do it!
  </button>
  <br>
  <input v-model="idea" :class="[idea.length > 5 ? 'red' : 'green']">
  <br>
  <button onclick="alert('signed up')" 
    :disabled="idea.length > 5">
    Do it!
  </button>
</div>
</template>

<script>

export default {
  name: "hello",
  data() {
    return {
      email: "admin@web.de",
      idea: "Brain-Cool",
    }
  }
}

</script>

<style scoped>
.red{
  border: 2px solid red
}
.green{
  border: 2px solid green
}
</style>