<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Vue-Example</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/hello" class="nav-link">Hello</a>
        </li>
        <li class="nav-item">
          <a href="/button" class="nav-link">Button</a>
        </li>
        <li class="nav-item">
          <a href="/loop" class="nav-link">Loop</a>
        </li>
        <li class="nav-item">
          <a href="/multi" class="nav-link">Multi</a>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>
